/* myStyle.css */
body {
  background-color: lightgreen;
}
table {
  color: black;
  border: 10px;
  width: 30%;
  float: left;
  padding-left: 20px;
}

th {
  color: black;
  background-color: lightblue;
}
td {
  background-color: lightcyan;
}

textarea {
  background-color: pink;
}
.leftButton {
  background-color: olive;
}

.deleteButton {
  background-color: orange;
}
.rightButton {
  background-color: red;
}
.icons {
  color: blue;
}
.buttonRow {
  color: yellow;
}
