/* myStyle.css */
body {
  background-color: lightgreen;
}
table {
  color: black;
  border: 10px;
  width: 30%;
  float: left;
  padding-left: 20px;
  padding-top: 5px;
}

table tr {
  background-color: black;
  max-width: 500px;
}

th {
  color: red;
  background-color: yellow;
}
td {
  background-color: lightpink;
}

textarea {
  background-color: blue;
}
.leftButton {
  background-color: olive;
}

.deleteButton {
  background-color: black;
}
.rightButton {
  background-color: red;
}
.icons {
  color: blue;
}
.buttonRow {
  color: yellow;
}
