/* myStyle.css */
body {
  background-color: cornsilk;
  color: black;
}
h1 {
  color: blue;
  text-align: left;
  font: italic 200% fantasy;
}

p {
  background-color: #ffff33;
  color: #333300;
  text-align: left;
  border: 3px groove #ffff33;
}
retroheader table,
tr {
  color: black;
  text-align: center;
  font: bold Arial;
}

tableheaders table,
th {
  text-align: left;
  color: orange;
  size: 50px;
}
tablebuttons table,
th {
  text-align: left;
  color: blue;
  size: 50px;
  text-align: center;
}
table {
  size: 100%;
  color: blue;
  border-collapse: separate;
  border-spacing: 50px;
  column-width: 100%;
  border: 1px groove black;
}
